.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
}

.menu {
    width: 35%;;
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: var(--font-size-menu);
}

.sub-menu {
    display: none;
    position: absolute;
}

.ativa-menu:hover .sub-menu {
    display: block;
}

/*Menu header*/
.item {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--cor-proclen-gray);
    font-size: --var-(--font-size-menu);
    font-weight: 700;
}

/*Atenção com a ordem das classes, essa classe deve vir depois da classe item */
.active {
    color: var(--cor-proclen-green-light);
}

.btn-green {
    background-color: var(--cor-proclen-green-light);
    border: transparent;
    color: var(--cor-proclen-white);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer; 
    font-size: var(--font-size-botao);
    width: 159px;
    line-height: 18px;
    text-align: center;
    min-height: 10px;
    text-shadow: 1px 1px 1px var(--cor-proclen-black);
    box-shadow: 1px 1px 1px var(--cor-proclen-black);
}

.btn-green:hover {
    background-color: var(--cor-proclen-green-dark);
    text-shadow: -1px 1px 1px var(--cor-proclen-black);
}

.logo {
    display: block;
    height: auto;
}

.main-clean {
    height: 500px;
    background-image: url(../img/hero-image.png);
}

/*trabalhando com positiion
.screen {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgba(255, 255, 255);
    width: 50%;
    height: 50%;
}
*/
